// TODO: Figure out how to use SCSS
// @import "./support/_variables";


.config-value {
    // color: $palette-cream
    background-color: #F1FAEE;
}

.text-muted {
    color: #6c757d !important;
}

.text-muted-link {
    color: #6c757d !important;
    text-decoration: underline;
}